
			table, th, td {
			  border: 1px solid black;
			  border-collapse: collapse;
			}
			th, td {
			  padding: 5px;
			  text-align: left;
			}
			#divSale{
				width : 70%;
        background: Gainsboro;
				margin: 0 auto;
				padding: 10px;
			}
			#genSaleId,#genBuyId,#genIdBuyPetition{
				float:right;
			}

			h3{
				text-align: center;
		  }
			#clock{
				padding-top: 110px;
				font-size: 2.5em;
				text-align: center;
			}
			#datehour{
				font-size: 30px;
    		font-weight: bold;
			}
			#dateday{
				font-size: 20px;
    		font-weight: bold;
			}
			#saleContainer{
				width: 100vw;
		    display: flex;
		    flex-flow: row;
		    justify-content: center;
		    align-items: center;
			}
			#resultContainer, #resultContainerBuyPetition, #resultBuyContainer, #resultBuyContainerSatisfyPetition{
				visibility: hidden;
				margin-top: 20px;
				width: 100vw;
		    display: flex;
		    flex-flow: row;
		    justify-content: center;
		    align-items: center;
			}

			#divResult,#divResultBuyPetition,#divResultBuy ,#divResultBuySatisfyPetition{
				border-radius: 10px;
		    border: 2px solid darkgrey;
		    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			}
			#closeButton, #closeButtonBuyPetition, #closeButtonBuy, #closeButtonBuySatisfyPetition{
				float: right;
				margin-top: 10px;
				background-color:Transparent;
				border: 0;
			}
			#closeIcon{
				font-size: 40px;
				font-weight: 1000;
			}
			#divSale{
				border-radius: 10px;
		    border: 2px solid darkgrey;
		    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			}
			#saleTitle{
				text-align: center;
    		font-size: xxx-large;
    		border-bottom: 3px dashed;
			}
			#divKeys{
				width: 100%;
		    display: flex;
		    flex-flow: row;
		    justify-content: center;
		    align-items: center;
			}
			#keys{
				display : none;
			}
			#bars{
				position:fixed;

			}
			/*-- Topbar section */
			#topbar {
			  overflow: hidden;
			  background-color: #333;
			  top: 0;
			  width: 100vw;
				text-align: center;
			}
			#topbar_h2{
				color:white;
				font-weight: bold;
			}

			/*-- Sidebar section */
			#sidebar {

				display: flex;
			  list-style-type: none;
			  margin: 0;
			  padding: 0;
			  background-color: #D4D3D3;
			}


			.sidebar_li a {
			  display: block;
			  color: #000;
			  padding: 8px 16px;
			  text-decoration: none;
				cursor: pointer;
			}

			.sidebar_li a.active {
			  background-color: #4CAF50;
			  color: white;
			}

			.sidebar_li a:hover:not(.active) {
			  background-color: #555;
			  color: white;
			}
			#sidebarDiv {
			}
			#ViewSalesPage {
				display: block;
			}
			#CreateSalePage {
				margin-top:20px;
				display: none;
			}
			#CreateBuyPage {
				display: none;
				margin-top:20px;
			}
			#ViewBuyPetitionsPage {
				display: none;
			}
			#ViewSalesTableDiv,#ViewBuyPetitionsTableDiv{
				display: flex;
				flex-flow: row;
				justify-content: center;
				align-items: center;
			}
			#ViewSatisfiedBuysTableDiv, #ViewBuysFromSalesTableDiv{
				display: flex;
				flex-flow: row;
				justify-content: center;
				align-items: center;
			}
			#ViewSalesTable, #ViewBuyPetitionsTable, #ViewSatisfiedBuysTable, #ViewBuysFromSalesTable {
				width: 75vw;
				border: 2px solid darkgrey;
		    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			}
			#validWritedateDiv,#validWritedateDivBuyPetition{
				display:flex;
				flex-flow:row;
				align-items:center;
			}
			#validwritedate,#validwritedateBuyPetition{
				margin-left: 3px;
				margin-right: 3px;
				margin-top:24px;
			}
			#validWritedateDate, #validWritedateDateBuyPetition{
				margin: 3px;
				display:block;
				/* flex-flow: column;
				width:100vh; */
			}
			#validwritedateHour,#validwritedateHourBuyPetition{
				/*width:100px;*/
				margin: 3px;
			}
			#validwritedateMin,#validwritedateMinBuyPetition{
			  /*width:100px;*/
				margin: 3px;
			}
			#validwritedateSec{
				/*width:100px;*/
				margin: 3px;
			}
			#buyModal{

			}

			/* #ViewSalesSide{
				float:left;
			}
			#CreateSaleSide{
				float:left;
			}
			#ViewBuyPetitionsSide{
				float:left;
			}
			#CreateBuySide{
				float:right;
			}
			#BuysFromSalesSide{
				float:right;
			}
			#SatisfiedBuysSide{
				float:right;
			} */

			#BuysFromSalesPage{
				display : none;
			}

			#SatisfiedBuysPage{

				display : none;
			}

			.modal-dialog{
				max-width: 850px;
			}
			.DateLabels{
				color: magenta;
			}
			th{
				text-align: center;
			}
			tbody{
				background-color: Gainsboro;
			}
			body{
				background-image: linear-gradient(to bottom right, springGreen, gainsboro);
				background-attachment: fixed;
			}
			html{
				height: 100%;
			}
